<div class="container">
  <app-header></app-header>
  <div class="home-description">
    <div class="description-left">
      <div class="description-left-yellow"></div>
      <div class="description-left-black"></div>
      <span class="description-left-span">Let's create something</span>
    </div>
    <h2 class="home-description-h2">Software Development<br>& design team's</h2>
    <p class="home-description-p">Skierowany dla Chief Technology Officer oraz Product Owner’ów, którzy poszukują długoterminowego partnera biznesowego.</p>
    <div class="description-bottom">
      <div class="description-bottom-line"></div>
    </div>
  </div>
</div>
