<section class="estimate-container">
  <div class="estimate-container__content">
    <div class="estimate-container__content__headers">
      <p>We feel good in:</p>
      <span>Środowiska, w których najlepiej się czujemy:</span>
    </div>
    <div class="estimate-container__content__env">
      <div class="estimate-container__content__env__col estimate-container__content__env__col--1">
        <div class="env-block">
          <span class="env-block__exp">
            9/10
          </span>
          <span class="env-block__tech">
            BI/HD
          </span>
        </div>
        <div class="env-block">
          <span class="env-block__exp">
            8/10
          </span>
          <span class="env-block__tech">
            Portale www
          </span>
        </div>
        <div class="env-block">
          <span class="env-block__exp">
            8/10
          </span>
          <span class="env-block__tech">
            Bazy danych
          </span>
        </div>
      </div>
      <div class="estimate-container__content__env__col estimate-container__content__env__col--2">
        <div class="env-block">
          <span class="env-block__exp">
            9/10
          </span>
          <span class="env-block__tech">
            BPM
          </span>
        </div>
        <div class="env-block">
          <span class="env-block__exp">
            7/10
          </span>
          <span class="env-block__tech">
            Mobile
          </span>
        </div>
        <div class="env-block">
          <span class="env-block__exp">
            7/10
          </span>
          <span class="env-block__tech">
            ERP
          </span>
        </div>
      </div>
    </div>
  </div>

</section>
