<section class="estimate-container">

  <div class="estimate-container__content">
    <img src="../../assets/img/Febrit_logo.svg" class="estimate-container__febrit-overlay" alt="febrit-bg" />
    <div class="estimate-container__febrit-estimate">
      <img src="../../assets/img/WYCENprojekt.svg" alt="febrit-bg" />
    </div>
    <!-- <img src="../../assets/img/Febrit_logo.svg" class="estimate-container__content__febrit-logo" alt="febrit-logo-sm" /> -->
    <svg class="estimate-container__content__febrit-logo" version="1.1" id="Warstwa_1"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 169.2 40.5" style="enable-background:new 0 0 169.2 40.5;" xml:space="preserve">
      <g>
        <path
          d="M42.8,6.9c-10.3,0-17.1,6.7-17.1,17c0,10,6.6,16.7,17.4,16.7c6.1,0,11-2.1,14.3-5.8L51.7,29c-2.2,2.2-4.9,3.3-7.7,3.3
     c-3.7,0-6.4-2.1-7.5-5.8h22.9C60.1,14.6,54.3,6.9,42.8,6.9z M36.3,20.8c0.7-3.8,3-6.3,6.6-6.3s6.1,2.6,6.1,6.3H36.3z" />
        <path d="M85.8,6.9c-4.1,0-7.4,1.6-9.7,4.6V0H65.3v40.1h10.8v-4.3c2.3,3,5.7,4.6,9.9,4.6c9.1,0,15.1-6.6,15.1-16.7
     C101.1,13.6,95,6.9,85.8,6.9z M83.1,31.7c-4.1,0-7-3.3-7-8.1c0-4.9,2.9-8.2,7-8.2c4.3,0,7.1,3.3,7.1,8.2
     C90.2,28.4,87.4,31.7,83.1,31.7z" />
        <polygon points="106,7.5 106,40.2 116.8,40.2 116.8,15.6 127.6,15.6 127.6,7.4 116.8,7.4 	" />
        <rect x="132.8" y="7.2" width="10.8" height="32.9" />
        <path d="M163.1,31.1c-1.9,0.1-3-1-3-3.5V17h8.5V7.2h-19.3v22.2c0,6.8,4.6,10.6,11,10.5c3.2,0,6.5-0.8,8.9-2.2l-2.1-7.7
     C165.6,30.7,164.2,31.1,163.1,31.1z" />
        <polygon
          points="0,6.5 0,40.2 10.8,40.2 10.8,28.6 20,28.6 20,20.7 10.8,20.7 10.8,14.6 21.6,14.6 21.6,6.4 10.8,6.4 	" />
      </g>
    </svg>
    <div class="estimate-container__content__headers">
      <p>We feel good in:</p>
      <span>Środowiska, w których najlepiej się czujemy:</span>
    </div>
    <div class="estimate-container__content__env">
      <div class="estimate-container__content__env__col estimate-container__content__env__col--1">
        <div class="env-block">
          <span class="env-block__exp">
            9/10
          </span>
          <span class="env-block__tech">
            <span class="yellow">BI/H</span>D
          </span>
        </div>
        <div class="env-block">
          <span class="env-block__exp">
            8/10
          </span>
          <span class="env-block__tech">
            <span class="yellow">Portale ww</span>w
          </span>
        </div>
        <div class="env-block">
          <span class="env-block__exp">
            8/10
          </span>
          <span class="env-block__tech">
            <span class="yellow">Bazy dany</span>ch
          </span>
        </div>
      </div>
      <div class="estimate-container__content__env__col estimate-container__content__env__col--2">
        <div class="env-block">
          <span class="env-block__exp">
            9/10
          </span>
          <span class="env-block__tech">
            <span class="yellow">BP</span>M
          </span>
        </div>
        <div class="env-block">
          <span class="env-block__exp">
            7/10
          </span>
          <span class="env-block__tech">
            <span class="yellow">Mobi</span>le
          </span>
        </div>
        <div class="env-block">
          <span class="env-block__exp">
            7/10
          </span>
          <span class="env-block__tech">
            <span class="yellow">ER</span>P
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
