<section [class]="formatClassNames(activeTechnology.toLowerCase())" class="technology">
  <div class="technology__content">
    <div class="technology__content__headers">
      <p>Technology:</p>
      <span>Pracujemy w takich technologiach:</span>
    </div>
    <div class="technology__content__set">
      <p *ngFor="let technology of technologies" (click)="setTechnologyAsActive(technology)"
        [class.active]="activeTechnology === technology">{{technology}}</p>
    </div>
  </div>
</section>
