.container {
  flex-direction: column;
  padding: 90px 100px 0;
}

.side-logo {
  display: block;
  height: auto;
  width: 29vw;
  max-width: 555px;
  position: absolute;
  top: 0;
  z-index: 2;

  path {
    fill: #1d1e1c;
  }
}
