<section class="contact-section">
  <div class="contact-section__map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.1810787044215!2d22.01411881559948!3d50.026702679419074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfa58364bd425%3A0x5a566eaa15e7ab17!2sKarowa%20Office%2C%20aleja%20Tadeusza%20Rejtana%2020%2C%2035-310%20Rzesz%C3%B3w!5e0!3m2!1spl!2spl!4v1594760086237!5m2!1spl!2spl"
      width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>
  </div>
  <div class="contact-section__pin">
    <img src="../../assets/img/pin.webp" />
  </div>
  <div class="contact-section__content">
    <div class="contact-section__content__headers">
      <p class="contact-section__content__p">Masz projekt? czekamy</p>
      <span class="contact-section__content__span">wyceń swój produkt aby dowiedziedz się ile zyskasz</span>
    </div>
    <div class="contact-section__content__col__grid">
      <div class="contact-section__content__col contact-section__content__col--left">
        <form class="contact-section__content__col__form">
          <input type="text" placeholder="Imie" />
          <input type="number" placeholder="Telefon" />
          <input type="email" placeholder="Email" />
        </form>
        <footer class="contact-section__content__col__footer">
          <span>Copyright Febrit 2020</span>
          <a href="https://www.facebook.com/Febrit-Software-House-126111712506841/">facebook</a>
          <a href="https://www.instagram.com/febrit.co/">instagram</a>
        </footer>
      </div>
      <div class="contact-section__content__col contact-section__content__col--right">
        <div class="contact-section__content__col__box">
          <p class="contact-section__content__col__box__ceo">Seweryn Kulec</p>
          <span>CEO Founder</span>
          <a href="tel:+48 537 580 473">+48 537 580 473</a>
          <a href="mailto:seweryn@febrit.co">seweryn@febrit.co</a>
        </div>
        <div class="contact-section__content__col__box">
          <p>ul.Rejtana 20</p>
          <p>35-312 Rzeszów</p>
          <p>NIP: 813 382 89 95</p>
        </div>
      </div>
    </div>
  </div>
</section>
