<section class="contact-section">
  <div class="contact-section__pin">
    <img src="../../assets/img/pin.webp" />
  </div>
  <div class="contact-section__content">
    <div class="contact-section__content__headers">
      <p class="contact-section__content__p">Masz projekt? czekamy</p>
      <span class="contact-section__content__span">wyceń swój produkt aby dowiedziedz się ile zyskasz</span>
    </div>
    <div class="contact-section__content__col__grid">
      <div class="contact-section__content__col contact-section__content__col--left">
        <form class="contact-section__content__col__form">
          <input type="text" placeholder="Imie" />
          <input type="number" placeholder="Telefon" />
          <input type="email" placeholder="Email" />
        </form>
        <footer class="contact-section__content__col__footer">
          <span>Copyright Febrit Sp.z.o.o</span>
          <a>Realizaton Marcin Rumierz dot com</a>
          <a>facebook</a>
          <a>instagram</a>
        </footer>
      </div>
      <div class="contact-section__content__col contact-section__content__col--right">
        <div class="contact-section__content__col__box">
          <p class="contact-section__content__col__box__ceo">Seweryn Kulec</p>
          <span>CEO Founder</span>
          <a href="tel:+48 764 834 432">+48 764 834 432</a>
          <a href="mailto:seweryn@febrit.co">seweryn@febrit.co</a>
        </div>
        <div class="contact-section__content__col__box">
          <p>ul.Rejtana 20</p>
          <p>35-312 Rzeszów</p>
          <p>NIP: 813 382 89 95</p>
        </div>
      </div>
    </div>
  </div>
</section>
