<div class="container">
  <span class="about-title">About</span>
  <div class="about-right-p">
    <p><span class="span-bold">W Febrit łączymy w całość zespół artystów</span>, który pozwoli uwidocznić Twój biznes na tle konkurencji. Z zamiłowania i z pasji do sztuki współczesnej
    połączyliśmy w komplet wieloletnie doświadczenie programistów i designerów z dziesiątkami wyróżnień, by wspólnie stworzyć ...</p>
  </div>
  <div class="about-left-p">
    <p><span class="span-bold">Z pasją wyróżniamy na rynku kompletny zespół do zadań specjalnych.</span> W końcu naszą pracą jest tworzenie sztuki wirtualnej.</p>
  </div>
</div>
