@import "./assets/scss/fonts/fonts.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "TT Commons";
  cursor: url("assets/img/pointer.svg") 15 15, auto;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;

  width: 100%;
}

.span-bold {
  font-weight: 600;
}

// no scrollbar
::-webkit-scrollbar {
  width: 0px;
}
