* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "TT Commons";
  cursor: url("assets/img/pointer.svg") 15 15, auto;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  display: flex;
}

.span-bold {
  font-weight: 600;
}


