@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-ThinItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-ExtraLigth.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-ExtraLigthItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-DemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-DemiBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-ExtraBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/assets/fonts/TTCommons-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
}

